<settings>
    <category label="IGDB">
    <setting id="screenshots_enabled" type="bool" label="Download Screenshots" default="true" />
    <setting id="igdb_clientid" type="text" label="IGDB - Client ID" default="y0esrydcdgatj12oalfkwbn5s3y4kw" />
    <setting id="igdb_clientsecret" type="text" label="IGDB - Client Secret" default="fnveegkrh12o02mjdva1dn51bk0wfq" />
    </category>
    <category label="Features">
    <setting id="insignia_aware" type="bool" label="Replace 'Xbox Live' with 'Insignia'" default="false" />
    <setting id="xlink_enabled" type="bool" label="Replace 'System Link' with 'XLink Kai'" default="false" />
    <setting id="hawk_enabled" type="bool" label="Replace 'Communicator Headset' with 'Hawk Headset'" default="false" />
    </category>
</settings>
